.border{
    border: 1px solid black;
}

foreignObject {
    border: 1px solid black;
}

.content{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-flow: column;
    padding: 10px;
}

.canvas{
    height: 100vh;
    width: 100vw;
}

.socket{
    fill: black
}

.socket:hover{
    fill: darkorchid
}